
  .banner {
    height: 650px;
    width: 100%;
    background-color: #00071A;
    background-image: url(img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    h1 {
      text-align: center;
      color: #fff;
      padding: 200px 0;
      font-size: 60px;
      font-weight: 600;
    }
  }